//variables
$mutedWhite: #eee;
$fontColor: #323232;
$borderColor: #c7c7c7;
$white: #ffffff;
$themeColor: #009688;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 15px;
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
  @media screen and (max-width: 600px) {
    font-size: 13px;
  }
}
body {
  background: $white;
  color: $fontColor;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a {
  color: $themeColor;
}
//header
header {
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0.5rem;
    background: $white;
    border-bottom: 2px solid $mutedWhite;
    .left-top-header {
      .logo {
        font-size: 2.7rem;
        text-decoration: none;
        font-weight: 500;
      }
    }
    .right-top-header {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .login-btn {
        font-size: 1.2rem;
        padding: 0.5rem 2rem;
        border-radius: 0.3rem;
        transition: 0.2s ease-in-out;
        border: 1px solid $themeColor;
        &:hover {
          color: $white;
          background: $themeColor;
        }
      }
    }
  }
}

.categories {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: $white;
  border-bottom: 2px solid $mutedWhite;
  position: relative;
  i {
    cursor: pointer;
  }
  span {
    display: flex;
    align-items: center;
    font-size: 1rem;
    i {
      margin-right: 0.8rem;
    }
  }
  ul {
    display: flex;
    a {
      display: block;
      margin-left: 1rem;
      color: $fontColor;
      font-weight: 500;
      font-size: 1.1rem;
    }
    a.active {
      color: $themeColor;
      text-decoration: underline;
    }
  }
  .search {
    position: absolute;
    top: 0.3rem;
    right: 7rem;
    width: 25rem;
    opacity: 1;
    max-width: 250px;
    transition: 0.5s ease-in-out;
    .search-box {
      input {
        width: 100%;
        padding: 0 1rem;
        border: 1px solid $borderColor;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        &:focus {
          border: 1px solid $themeColor !important;
          box-shadow: 0 2px 2px 0 rgba(0, 150, 136, 0.14),
            0 3px 1px -2px rgba(0, 150, 136, 0.12),
            0 1px 5px 0 rgba(0, 150, 136, 0.2) !important;
        }
      }
    }
    &.hide-search {
      width: 0;
      opacity: 0;
      pointer-events: none;
    }
  }
}

//banner
.banner {
  margin-top: 1rem;
  .slider {
    margin: 1rem 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .sub-banner-image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}

//product
.product {
  margin-top: 2rem;
  .product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $mutedWhite;
    margin-bottom: 1rem;
  }
  img {
    height: 15rem;
    object-fit: cover;
  }
  .card-content {
    padding-top: 2rem !important;
  }
  .card-title {
    margin-bottom: 0.3rem !important;
  }
}

//footer
footer {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-top: 2px solid $mutedWhite;
  display: flex;
  justify-content: space-between;
}

//product details
.product-details {
  margin-top: 2rem;
  .product-image {
    width: 100%;
    img {
      width: 100%;
      border-radius: 0.2rem;
      object-fit: cover;
    }
  }
  .product-sub-image {
    margin-top: 1rem;
    width: 100%;
    height: 5rem;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 4px solid $white;
      box-shadow: 0 0 0 1px #d7d7d7;
      border-radius: 0.2rem;
    }
  }
  .product-info {
    h4 {
      margin-top: 0;
      color: $themeColor;
    }
    p {
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
    .product-desc {
      margin: 2rem 0;
      p {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
    .product-btn {
      display: flex;
      justify-content: space-between;
      .btn {
        width: 48%;
        &:first-child {
          background-color: $themeColor;
        }
      }
    }
  }
}
